
:root {
    font-family: 'Encode Sans Condensed', sans-serif;
    font-size: 1rem;
    text-align: center;

    --name: rgb(241, 241, 241);
    --name-txt: rgb(94, 94, 94);
    --red: rgb(138, 31, 31);
    --green: rgb(44, 189, 44);
    --l-green: rgb(144, 226, 144);
    --a-grey: rgb(216, 216, 216);
    --mi-grey: rgb(156, 156, 156);
}


* {scroll-behavior: smooth;}

*, *::before, *::after {box-sizing: border-box}

.comment-app__cont {margin: 2rem;}
.br {border: dotted black 1px;}

.divider, .comment-app__cont, .comment-list__cont {display: none;}

section.comment-add__cont h2, section.comment-list__cont h2 {
    font-size: 2.5rem;
    font-weight: normal;
}

#full-app {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0;

}

body {
    min-width: 280px;
}

/* .......................... */
/* INTRO  */
/* .......................... */


.welcome {
    position: relative;
    width: 100%;
    overflow: hidden;
}

#hello-there, .intro-thx, .welcome .material-icons {
    opacity: 0;
}

.intro-thx, .intro-comment {
    font-family: 'Encode Sans Condensed', sans-serif;
    font-size: 1.5rem;
}

.kung-fu-font {
    color: var(--red);
    font-size: 2rem;
    font-family: 'Chewy', cursive;
}


/* INTRO  */
/* .......................... */
/* ELEMENTS */


#panda {
    margin-top: 11rem;
}

#panda:hover {
    transform: rotate(10deg);
    transition: transform .001s;
}

#scene-big-animation__cont {
    height: 8.5rem;
    width: 100%;
    overflow: hidden;
}

.scene-1-txt__cont {
    width: 100%;
    margin: 0 auto;
}


section.welcome h1 {
    text-transform: uppercase;
    font-size: 2.5rem;
    margin: 0;
}

#hello-there {
    font-size: 3rem;
    background-color: white;
    opacity: 0;
}

p.intro-thx {
    font-size: 1.7rem;
    color: black;
    opacity: 0;
    margin: 0;
}

p.intro-comment {
    display: none;
    font-weight: bold;
    margin: 0;

}

#arr-down__cont, .mq-fix-820-2 {
    display: none;
}



/* INTRO  */
/* .......................... */
/* ANIMATIONS */



/* A: panda */


.to-left__animation {
    animation-name: toLeft;
    animation-duration: 0.2s;
    animation-iteration-count: 1;
}

.wiggle__animation {
    animation: wiggle .05s  2 alternate;
}

.wiggle2__animation {
    animation: wiggle2 .9s  1 alternate;
}

@keyframes toLeft {
    from {transform: translateX(-30rem);}
    to {transform: translateX(0rem);}
}

@keyframes wiggle {
    from {transform: rotate(0);}
    to {transform: rotate(-10deg);}
}

@keyframes wiggle2 {
    0% {transform: rotate(0);}
    10% {transform: rotate(50deg);}
    15% {transform: rotate(0);}
    40% {transform: rotate(0);}
    50% {transform: rotate(-90deg);}
    55% {transform: rotate(0);}
}


/* A: hello there */


.hello-in__animation {
    animation-name: toLeft;
    animation-duration: 0.2s;
    animation-iteration-count: 1;
    animation-delay: 0.1s;
    animation-fill-mode: forwards;
}

@keyframes toLeft {
    from {
        transform: translateX(30rem);
        opacity: 0;
    }
    to {
        transform: translateX(-2rem);
        opacity: 1;
    }
}

.hello-escape__animation {
    animation-name: hello-escape;
    animation-duration: 0.2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes hello-escape {
    from {
        opacity: 1;
        transform: translate(-2rem);

    }
    to {
        opacity: 0;
        transform: translate(30rem);
    }
}

/* A: thanx 4 */


.thx4-in__animation {
    animation-name: thx4-in;
    animation-duration: 0.2s;
    animation-iteration-count: 1;
    animation-delay: .3s;
    animation-fill-mode: forwards;
}

@keyframes thx4-in {
    from {
        opacity: 0; 
        transform: translate3d(0, -40%, 0); }
    to { 
        opacity: 1;
        transform: translate3d(0, 0, 0); }
  }


/* A: forward icon  */


span#forward.material-icons {
    font-size: 3rem;
    opacity: 0;

    animation: opa 1.2s 0.3s 1 forwards, moveX alternate .5s 1.6s infinite;
}

span#forward.material-icons:hover {
    cursor: pointer;
    color: green;
    transition: color .8s;
}


@keyframes opa {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes moveX {
    from {transform: translateX(0);}
    to {transform: translateX(0.2rem);}
}

/* A: naw, while..... */


span.word {
    opacity: 0;
}

.word-animation {
    animation-name: word-appear;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
}

.letter-animation {
    animation-name: word-appear;
    animation-duration: 0.1s;
    animation-fill-mode: forwards;
}

@keyframes word-appear {
    from {opacity: 0;}
    to {opacity: 1;}
}


/* down icon + animation */


a#arr-down span {
    position: static;
    font-size: 5rem;

    animation: opa 2s 0.3s 1 forwards, moveY alternate .5s 1.5s infinite; 
}

@keyframes moveY {
    from {transform: translateY(0);}
    to {transform: translateY(0.2rem);}
}

a#arr-down span:hover {
    color: green;
    transition: color .8s;
}


/* .......................... */
/* ADD COMMENT - [avatar].... */
/* .......................... */



.comment-app__cont {
    padding: 2rem 0;
}

#arr-L, .avatar__cont, #arr-R {
    display: inline-block;
    vertical-align: middle;
}

/* avatar */

.avatar__cont {
    border: var(--a-grey) 2px solid;
}

.kfp-avatar {
    padding: 2px;
    width: 100px;
}

.kfp-avatar, .avatar__cont {
    border-radius: 100px;
}

.kfp-avatar:hover {
    cursor: pointer;
}

.avatar-add__cont {
    display: inline-block;
    position: relative;
}

.avatar-hov-border {
    width: 112px;
    height: 112px;
    border-radius: 112px;
    position: absolute;
    border: transparent 4px dotted;
    top: -5px;
    left: 19.7%;
    z-index: -1;

    animation-name: spin;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-timing-function: linear;
}

@keyframes spin {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}

@keyframes opa {
    from {opacity: 0;}
    to {opacity: 1;}
}

.js-border-animation {
    border-color: green;
    transition: border .2s;
}

.js-border-animation2 {
    border-color: transparent;
}

.js-border-grey {
    border: var(--a-grey) 2px solid;
}

.js-col-change {
    border: 3px solid green;
    transition: border .1s;
}

/* arrows */


#arr-L, #arr-R {
    border: none;
    background-color: unset;
}

.material-icons:hover {
    color: green;
    transition: color .3s;
}


/* .......................... */
/* ADD COMMENT - [forms]..... */
/* .......................... */


.comment-add__cont, .comment-list__cont, .name-add__cont {
    margin: 0.5em;
}

.comment-list__cont {
    width: 100%;
    margin-bottom: 0;
}

/*  input fields */

input[type="text"] {
    text-align: center;
    max-width: 200px;
    height: 2rem;
    margin-bottom: 1rem;
}


input[type="text"], #comment {
    font-family: 'Encode Sans Condensed', sans-serif;
    font-size: 1.1rem;
    border: 2px rgb(0, 0, 0) solid;
}


input[type="text"]:focus, #comment:focus {
    border: 1px black solid;
    outline: unset;
}

#comment {
    padding: 0.5em;
    text-align: center;
}

label {
    color: rgb(90, 90, 90);
    font-size: 0.9rem;
    display: block;
    margin-bottom: 0.3rem;
}

input#name::placeholder {
    color: rgb(180, 180, 180);
}

/* icons */

.material-icons {color: var(--mi-grey)}

.material-icons:hover {
    cursor: pointer;
}


/*  submit button */


#submit {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;

    margin-top: 2rem;
    width: 4rem;
    height: 4rem;
    border-radius: 2rem;
    border-color: unset;
    outline: unset;
    box-shadow: unset;
    border-style: unset;
}

#submit:hover {
    cursor: pointer;
}

#submit:hover span {
    transition: color .3s;
}

#submit span {
    font-size: 3rem;
}

.c-green {color: green}
.c-black {color: black;}

/* .......................... */
/* COMMENT LIST.............. */
/* .......................... */


.comment-list__cont {
    display: none;
    margin-top: 2rem;
}

h2#scroll {
    margin-bottom: 2rem;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.comment-ex, .comment-ex2 {
    margin: 1em auto;
    width: 60%;
    max-width: 500px; 
}

.comment-ex {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 3.5rem;
    border: 1px dotted rgb(190, 190, 190);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    box-shadow: 1px 5px 30px rgb(235, 235, 235);
}

.comment-ex2  {
    margin-top: 4rem;
    margin-bottom: 0;
    border-bottom: 1px solid rgb(221, 221, 221);
    padding-bottom: .5rem;
}

li#dw-honored.display-none {
    display:none !important;
}

.comment-ex2 div span{
    font-size: 1rem;
    color: rgb(117, 117, 117);
}

.comment-ex2 span.kung-fu-font {
    font-size: 1.5rem;
    color:rgb(117, 117, 117);
}

.smaller-font {
    font-size: 1.2rem;
    opacity: 0.9;
}

.comment-avatar {
    border-bottom: 1px solid black;
    margin-bottom: 1rem;
}

pre {
    font-size: 1.3rem;
    font-family: 'Kelly Slab', cursive;
    width: 100%;
    margin: 0;
    margin-bottom: .4rem;
    white-space: pre-line;
    color: rgb(58, 58, 58);
}


.com-body {
    position: relative;
    grid-row: 1 / 2;
    grid-column: 1 / 3;
    padding: 1em 3em;
}

a#del {
    position: absolute;
    right: 0;
    top: 0;
}

a#del:hover .material-icons {
    color: var(--red);
    cursor: pointer;
}


.com-name, .com-date {
    grid-row: 2 / 3;

    font-size: 0.8rem;
    background-color: var(--name);
    color: var(--name-txt);
    border: white 2px solid;

}

.com-name {
    border-bottom-left-radius: 10px;

    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
    justify-items: center;
    align-items: center;

    grid-column: 1 / 2;
}

.com-date {
    padding: 0.5em;
    border-bottom-right-radius: 10px;

    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: repeat(2, 1fr);
    align-items: center;

    grid-column: 2 / 3;
}

.date-sub--P, .time-sub--P, .name-sub--P {
    justify-self: start;
}

.date-sub--P, .time-sub--P {
    letter-spacing: 0.5px;
    font-size: 1rem;
}

.date-sub--L, .time-sub--L, .name-sub--L {
    font-size: 0.7rem;
    text-transform: uppercase;
}

.name-sub--P {
    font-size: 1.7rem;
    font-family: 'Shadows Into Light', cursive;
}

.name-sub--L {padding-top: .4rem}

.date-sub--L {
    grid-row: 2/3;
    grid-column: 1/2;
}

.date-sub--P {
    grid-row: 2/3;
    grid-column: 2/3;
}

.time-sub--L {
    grid-row: 1/2;
    grid-column: 1/2;
}

.time-sub--P {
    grid-row: 1/2;
    grid-column: 2/3;
}

div span.material-icons {
    color: rgb(173, 173, 173);
    font-size: 1rem;
}

div span.material-icons:hover {
    color: rgb(173, 173, 173);
    cursor: inherit;
}

#panda-end {
    width: 100px;
    margin: 0 auto;
    opacity: 0.5;
}


/* .......................... */
/* FOOTER.................... */
/* .......................... */

footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: .4rem;
    margin-bottom: 1rem;
    width: 100%;
}

.footer__cont {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr .5fr .5fr;
    justify-items: center;
    align-items: center;

    font-size: .8rem;
    max-width: 26rem;
    color: var(--mi-grey)

}

.foot-link, .foot-text {
    padding: .2rem;
}

#f21 {
    grid-row: 2/3;
    grid-column: 1/2;
}

#f22 {
    grid-row: 2/3;
    grid-column: 2/3;
}

#f23 {
    grid-row: 2/3;
    grid-column: 3/4;
}

.footer__cont a {
    text-decoration: none;
    color: var(--mi-grey);
    font-weight: bold;
}

.footer__cont #f4 a {
    text-decoration: underline;
    font-weight: normal;
}

#f4 {
    grid-row: 1/2;
    grid-column: 1/4;
}

#f5 {
    grid-row: 3/4;
    grid-column: 1/4;
    padding: .4rem;
    font-size: .8rem;
    color: var(--mi-grey)

}

.dn {display: none;}

.kash {
    font-size: 1rem;
    font-family: 'Chewy', cursive;
}


/* .......................... */
/* ASIDE..................... */
/* .......................... */

aside {
    display: none;
    position: fixed;
    right: 0;
    top: 60%;
    color: rgb(116, 116, 116);
    padding-left: 2rem;

    background-color: rgb(207, 207, 207);
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    box-shadow: 1px 5px 20px rgb(214, 214, 214);

    transform: translateX(6rem);
    transition: transform .1s;
}

a#q-link {
    font-size: .8rem;
    display: inline-block;
    text-decoration: none;
    padding: .7rem;
    letter-spacing: 0.05rem;
    text-transform: uppercase;
    background-color: rgb(230, 230, 230);


}

.labelAttention__animation {
    animation: labelAttention 5s infinite;
}

.aside-slide {
    transform: translateX(0);
}



/* .......................... */
/* MQ........................ */
/* .......................... */

/* width */

@media only screen and (max-width: 750px) {
 .comment-ex {
     width: 90%;
 }
}

@media only screen and (max-width: 580px) {
    .comment-ex {
        width: 95%;
    }

    div.com-body {
        padding: 1rem;
    }

}

@media only screen and (max-width: 480px) {
    .com-name {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }

    .com-date {
        grid-template-columns: 25% 75%;
        grid-template-rows: repeat(2, 1fr);
    }

    .mq-fix {
        width: 400px;
    }

    #panda {
        margin-top: 9.5rem;
    }
}

@media only screen and (max-width: 430px) {
    .mq-fix {
        width: 350px;
    }

    #panda {
        margin-top: 12rem;
    }

    .intro-thx, .intro-comment {
        width: 80%;
    }
}

@media only screen and (max-width: 400px) {
    .name-sub--P {
        font-size: 1.5rem;
    }

    .date-sub--P, .time-sub--P {
        letter-spacing: 0.3px;
        font-size: .9rem;
    }

    pre {font-size: 1.2rem;}

    textarea#comment {
        width: 20rem;
    }

    .intro-thx, .intro-comment {
        width: 90%;
    }
}

@media only screen and (max-width: 370px) {
    .mq-fix {
        width: 300px;
    }

    #panda {
        margin-top: 15rem;
    }
}

@media only screen and (max-width: 352px) {
    .name-sub--P {
        font-size: 1.3rem;
    }

    .date-sub--P, .time-sub--P {
        letter-spacing: 0.2px;
        font-size: .8rem;
    }

    pre {font-size: 1.1rem;}

    textarea#comment {
        width: 16rem;
        height: 20rem;
    }

    #hello-there {
        margin-left: 3rem;
    }

    p.intro-thx {
        font-size: 1.5rem ;
    }

    .intro-thx, .intro-comment {
        width: 100%;
    }

    .intro-comment {
        font-size: 1.4rem;
    }
}

@media only screen and (max-width: 332px) {
    #hello-there {
        font-size: 2.6rem;
    }

    .mq-fix {
        width: 280px;
    }

    #panda {
        margin-top: 16rem;
    }
}

/* height */



@media only screen and (max-height: 900px) {

    #panda {
        margin-top: 10rem;
    }

}

@media only screen and (max-height: 820px)
{
    .mq-fix-820-2 {
        display: inline-block;
    }

    .mq-fix-820-1 {
        display: none;
    }
}

@media only screen and (max-height: 685px) {

    #panda {
        margin-top: 6rem;
    }
}